

<head>
        <style>
        button{
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 6px;
        width: auto;
        margin: 2px 2px;
    }
    
   
    #outer
    {
        width:100%;
        text-align: center;
    }
    .inner
    {
        display: inline-block;
    }
        </style>
    </head>
    
    <div class="col-md-5 col-md-offset-3">
                <div>
                    <label for="uniquecode" style="font: bold 20px Georgia, serif;">Unique Code:</label>
                    <input type="text" name="uniqueCode" [(ngModel)]="uniqueCode" />
                    <!-- <div *ngIf="f.submitted && !uniquecode.valid" class="help-block">Unique Code is required</div> -->
                </div>
                <div>
                        <label for="imagefile" style="font: bold 20px Georgia, serif;">Image File:</label>
                        <input #fileInput type="file">
                    </div>
    </div>
    <div class="col-md-6 col-md-offset-7">
            <div id="outer">
                    <div class="inner"><button type="submit" (click)="fileUpload()">Upload</button></div>
                    <div class="inner"><button type="submit" (click)="backToLogin()">Back to Login</button></div>
                </div>   
    </div>
    
    