
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}


div.padding{
    margin:5%;
    text-align: right;
}
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
button{
    border: none;
    color: gray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: black;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px 18px;
}